{
  "jsc": {
    "baseUrl": ".",
    "paths":{
      "@domain/*": [
        "./src/domain/*"
      ],
      "@devops/*": [
        "./devops*"
       ],
      "@infra/*": [
        "./src/infra/*"
      ],
      "@main/*": [
        "./src/main/*"
      ],
       "@utils/*": [
        "./src/utils/*"
       ],
      "@application/*": [
        "./src/application/*"
      ],
       "@data/*": [
              "./src/data/*"
            ],
      "@tests/*": [
        "./tests/*"
      ]
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "target": "es2020",
    "loose": true
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false
  },
  "env": {
    "targets": {
      "node": 16
    }
  },
  "sourceMaps": "inline"
}